.post_card {
  width: 100%;
  height: 300px;
  max-width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
  &:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
}

.post_card__header {
  padding: 0.8rem;
}

.post_card__header img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.post_card__body {
  padding: 0 0.8rem 0.8rem 0.8rem;
}

.post_card__body__title {
  width: 100%;
  height: 30px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* Agregamos esta propiedad para los tres puntos suspensivos */
}

.post_card__body__title:hover {
  transition: 0.4s;
  color: var(--accent-color);
}

.post_card__body__description {
  font-size: 14px;
  width: 100%;
  height: 70px;
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  text-align: justify;
  -webkit-line-clamp: 3; /* Número de líneas a mostrar */
  -webkit-box-orient: vertical;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.button__blog {
  margin-top: 16px !important;
}

.post_card__body__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #888;
}

.post_card__body__footer__date {
  margin-right: 8px;
}

.post_card__body__footer__author {
  margin-left: 8px;
}
