/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 4.5rem;

    /*========== Colors ==========*/
    --first-color: hsl(213,44%,44%);
    --light-first-color: hsl(213,8%,75%);
    --accent-color: hsl(63,46%,46%);
    --title-color: hsl(250, 8%, 15%);
    --text-color: hsl(250, 8%, 35%);
    --body-color: #fff;
    --border-color: hsl(250, 8%, 80%);
    --container-color: hsl(250, 60%, 97%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Hind', sans-serif;
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* Responsive typography */
@media screen and (max-width: 1024px) {
    :root {
        --biggest-font-size: 2.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input{
    border: none;
    outline: none;
}
strong {
    color:var(--accent-color);
}

img{
    max-width: 100%;
    height: auto;
}


/*=============== LAYOUT ===============*/
.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
}


/*=============== REUSABLE CSS CLASSES ===============*/

.section {
    padding: 7rem 0 1rem;
}

.section__title {
    font-size: var(--h1-font-size);
    text-align: center;
    font-weight: var(--font-bold);
    margin-bottom: .25rem;
    line-height: 140%;
}

.section__subtitle {
    font-size: var(--h3-font-size);
    text-align: center;
    font-weight: var(--font-semibold);
    margin-bottom: 2.5rem;
    color: var(--light-first-color);
}

/*=============== HEADER & NAV ===============*/

.header {
    width: 100%;
    background-color: var(--first-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
}
.logo__two{
    color: var(--accent-color);

}
.nav__link,
.nav__toggle {
    color: var(--body-color);
    font-weight: var(--font-semibold);
}

.nav__link:hover {
    transition: .4s;
    color: var(--accent-color);
}

.nav__list{
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
}

.nav__close {
    display: none;
}

.nav__toggle {
    font-size: 1.5rem;
    margin-top: 0.75rem;
    cursor: pointer;
    display: none;
}


/*=============== HOME ===============*/
.home{
    position: relative;
    min-height: 700px;
    background: url(../../assets/img/home.jpg);
    background-repeat: no-repeat;
    padding: 18rem 0 2rem;
    z-index: -1;
}

.home::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,3,32,.66);
    z-index: -2;
}

.home__data {
    max-width: 650px;
}

.home__subtitle {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semibold);
    color: var(--accent-color);
    margin-bottom: 1rem;
}

.home__title{
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    color: #fff;
    line-height: 120%;
    margin-bottom: 1.5rem;
}

.home__description{
    font-size: var(--h3-font-size);
    color: var(--light-first-color);
    padding-right: 2.8rem;
    margin-bottom: 2.5rem;
}

.about__courses {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: var(--z-tooltip);
    grid-template-columns: repeat(4, 1fr);
}

.about_course-item {
    position: relative;
    height: 100px;
    padding: 23px 50px;
    padding-right: 1.8rem;
    z-index: -1;
    background-color: var(--first-color);
}

.about_course-item::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.about_course-item:nth-child(1) {
    background: url(./assets/Img/slider-nav-4.jpg);
    background-position: center;
}
.about_course-item:nth-child(2) {
    background: url(./assets/Img/slider-nav-1.jpg);
    background-position: center;
}
.about_course-item:nth-child(3) {
    background: url(./assets/Img/slider-nav-2.jpg);
    background-position: center;
}
.about_course-item:nth-child(4) {
    background: url(./assets/Img/slider-nav-3.jpg);
    background-position: center;
}
.about_course-item:nth-child(1)::after{
    background: rgba(63,100,30,.7);
}

.about_course-item:nth-child(2)::after{
    background: rgba(45,105,240,.7);
}

.about_course-item:nth-child(3)::after{
    background: rgba(231,36,110,.7);
}

.about_course-item:nth-child(4)::after{
    background: rgba(12,120,116,.7);
}

.about__course-total{
    display: inline-block;
    font-weight: var(--font-semibold);
    color: var(--body-color);
    opacity: .8;
}

.about__course-title {
    color: var(--body-color);
    font-size: var(--h3-font-size);
}

/*=============== BUTTONS ===============*/
.button{
    text-align: center;
    display: inline-block;
    color: var(--body-color);
    padding: .8rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    background-color: var(--accent-color);
}

.button, .button--link {
    border: 2px solid transparent
}

.button--link, .button:hover {
    background-color: var(--first-color);
    color: #fff;
    border: 2px solid #fff;
    transition: .4s; 
}

.nav__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}

/*=============== ABOUT ===============*/
.about__countainer {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
}

.about__group {
    justify-self: flex-end;
    position: relative;
}

.about__thumb {
    margin-left: 6.25rem;
}

.about__thumb-img {
    width: 370px;
}

.about__review {
    position: absolute;
    left: -1.5rem;
    top: 6.25rem;
    transform: rotate(90deg);
}

.about__review p span {
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

.about__banner {
    margin-top: -13rem;
}

.about__banner-img {
    width: 240px;
    border-radius: .5rem;
}

.about__students {
    margin-top: -5rem;
    margin-left: 16.8rem;
}

.about__student-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid var(--container-color);
}


.about__student-img + .about__student-img {
    margin-left: -.75rem;
}

.about__student-details {
    margin-top: 0.25rem;
    font-size: var(--small-font-size);
}

.about__student-details span {
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

.about__title {
    text-align: left;
    margin-bottom: 1rem;
}

.about__description {
    margin-bottom: 2rem;
    padding-right: 2rem;
}

.about__details {
    display: grid;
    row-gap: .5rem;
    margin-bottom: 2.5rem;
}

.about__details-description {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--smaller-font-size);
    color: var(--title-color);
}

.about__details-icon {
    font-size: 1.25rem;
    color: var(--first-color);
}
/*=============== TEACHERS ===============*/
.teachers__container {
    grid-template-columns: repeat(6, 1fr);
    gap: .8rem;
}

.teacher__item {
    padding: 1.875rem;
    background-color: var(--container-color);
    border-radius: .5rem;
    text-align: center;
}

.teacher__img-box{
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.teacher__img-box img{
    transform: scale(1);
    vertical-align: middle;
    transition: .4s;
}

.teacher__img-box:hover img{
    transform: scale(1.1);
}

.teacher__title {
    display: inline-block;
    font-size: var(--h3-font-size);
    margin-bottom: 0.75rem;
}

.teacher__social {
    display: flex;
    justify-content: center;
    column-gap: .6rem;
}

.teacher__social-link {
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
    border: 2px solid var(--boder-color);
    color: var(--title-color);
    border-radius: .25rem;
    transition: .4s;
}

.teacher__social-link:hover {
    background-color: var(--first-color);
    border: none;
    color: #fff;
}

.teacher__social i {
    font-weight: var(--font-semibold);
}
/*=============== BRANDS ===============*/

.brand__title {
    text-align: center;
    font-size: var(--h2-font-size);
    margin-bottom: 2.5rem;
}

.brand__container {
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
    justify-items: center;
    margin-bottom: 3rem;
}

.brand__button, .course__button {
    color: var(--first-color);
    font-size: var(--normal-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
    cursor: pointer;
}

.brand__button-icon, .course__button-icon {
    font-size: 1.25rem;
    transition: .4s;
}

.brand__button:hover .brand__button-icon, .course__button:hover .course__button-icon {
    transform: translateX(5px);
}
    

/*=============== CONTACT PAGE ===============*/


.footer {
    margin-top: 6rem;
    background-color: var(--first-color);
}

.footer__container {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 1rem;
    color: #fff;
}

.footer__logo {
    margin-bottom: 1.5rem;
}

.footer__description, .footer__link {
    color: hsl(213,8%,75%);
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
}
.footer__link:hover {
    transition: .4s;
    color: var(--accent-color);
}


.footer__title {
    color: #fff;
}



/*=============== SCROLL BAR ===============*/


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width:1206px) {}

@media screen and (max-width:1024px) {}

/* For medium devices */
@media screen and (max-width:767px) {}

@media screen and (max-width:576px) {}

/* For small devices */
@media screen and (max-width:350px) {}